.header {
    background-color: #141f40;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav {
    background-color: #ffffff;
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.item {
    background-color: #a9004b;
    width: 40px;
    height: 40px;
}

.container {
    width: 400px;
    display: flex;
}

.left-center {
    background-color: #80bfa8;
    width: 150px;
    height: 250px;
}

.right-center {
    background-color: #8c2727;
    width: 250px;
    height: 250px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 40px 60px 40px 40px;
    box-sizing: border-box;
}

.aside {
    background-color: #ff863f;
    width: 140px;
    height: 40px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff;
}

.footer {
    background-color: #d98d30;
    width: 400px;
    height: 100px;
}